<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
<xacro:property name="imu_length" value="0.02" />
<xacro:property name="imu_width" value="0.04" />
<xacro:property name="imu_height" value="0.04" />
<xacro:property name="imu_mass" value="0.1" />

<xacro:macro name="imu_link" params="parent xyz rpy">
    <material name="red">
        <color rgba="0.8 0 0 1"/>
    </material>

    <link name="imu_link">
        <visual>
            <geometry>
                <box size="${imu_length} ${imu_width} ${imu_height}"/>
            </geometry>
            <material name="red"/>
        </visual>
        <collision>
            <geometry>
                <box size="${imu_length} ${imu_width} ${imu_height}"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="${imu_mass}"/>
            <inertia ixx="${(1/12) * imu_mass * (imu_width * imu_width + imu_height * imu_height)}" 
                iyy="${(1/12) * imu_mass * (imu_length * imu_length + imu_height * imu_height)}" 
                izz="${(1/12) * imu_mass * (imu_length * imu_length + imu_width * imu_width)}" 
                ixy="0" ixz="0" iyz="0"/>
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </inertial>
    </link>

    <joint name="imu_joint" type="fixed">
        <parent link="${parent}"/>
        <child link="imu_link"/>
        <origin xyz="${xyz}" rpy="${rpy}"/>
    </joint>

    <gazebo reference="imu_link">
        <sensor type="imu" name="imu_sensor">
            <always_on>1</always_on>
            <update_rate>100</update_rate>
            <topic>/imu</topic>
            <frame>imu_link</frame>
            <imu>
                <angular_velocity>
                    <noise type="gaussian">
                        <mean>0.0</mean>
                        <stddev>0.0002</stddev>
                    </noise>
                </angular_velocity>
                <linear_acceleration>
                    <noise type="gaussian">
                        <mean>0.0</mean>
                        <stddev>0.0003</stddev>
                    </noise>
                </linear_acceleration>
            </imu>
        </sensor>
    </gazebo>

</xacro:macro>
</robot>