<?xml version="1.0" ?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:macro name="load_gazebo_sim_ros2_control_plugin" params="robot_name use_gazebo">
        <xacro:if value="${use_gazebo}">
            <gazebo>
                <plugin filename="libgz_ros2_control-system.so" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
                    <parameters>$(find mobile_robot_description)/config/${robot_name}/ros2_controllers.yaml</parameters>
                </plugin>
            </gazebo>
        </xacro:if>
    </xacro:macro>
</robot>